{% extends 'base.html.twig' %}

{% block title %}Les créations{% endblock %}

{% block body %}
<div class="d-flex flex-column flex-lg-row ">
    <section class="container mx-auto my-4">
        <h3 class="text-center">{{ creation.name }}</h3>
        <div class="card mx-auto mb-3" style="max-width: 540px">
            <div class="row g-2">
                <div class="col-12 col-md-6 text-center position-relative">
                    <img src="{{ vich_uploader_asset(creation, 'thumbnailFile') }}" class="img-fluid rounded-start"
                         alt="...">
                    {% if creation.sold %}
                        <div class="text-center fst-italic fw-bolder rounded-2 bg-warning p-1 product-dispo position-absolute">
                            Plus
                            disponible
                        </div>
                    {% endif %}
                </div>
                <div class="card-body col-md-6 d-flex flex-column ">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{ creation.name }}</h5>
                        <p class="card-text text-success card-price">
                            {{ (creation.price/100) | format_currency('EUR', {rounding_mode: 'floor'}) }}
                        </p>
                    </div>
                    <p class="card-text my-2">{{ creation.description|nl2br }}</p>
                    <div class="card-text mt-auto">
                        {% if not creation.sold %}
                            <a href="{{ path('cart.add', {id: creation.id}) }}" class="ms-auto btn btn-primary">Ajouter
                                au panier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container d-flex flex-column align-items-center my-4">
        <a href="{{ path('comment.new', {id: creation.id}) }}" class="btn btn-primary">Ajouter un commentaire</a>
        <div class="container mt-3">
            {% for comment in comments %}
                <div class="border border-1 px-2 border-success mb-1 rounded-3">
                    <h6 class="fw-bold mt-2">{{ comment.createdAt|date("d-m-y", "Europe/Paris") }}
                        - {{ comment.user.username }}</h6>
                    <p class="bg-white px-2 py-1 rounded-3">{{ comment.message|nl2br }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
    {% endblock %}
