<div class="table-responsive mt-2">
    <table class="table">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th class="d-none d-md-block">Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td class="d-none d-md-table-cell">{{ user.email }}</td>
                <td class="small">{{ user.roles|join(', ') }}</td>
                <td>
                    <div class="btn-group gap-2">
                        <a href="{{ path('profil.setAdmin', {id: user.id}) }}" class="btn btn-primary btn-sm">
                            Set Admin
                        </a>
                        <a href="{{ path('profil.unsetAdmin', {id: user.id}) }}" class="btn btn-sm btn-danger">
                            Unset Admin
                        </a>
                    </div>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>