{% extends 'admin/admin.html.twig' %}

{% block title 'Les créations de Sylvie' %}

{% block body %}
    <section class="container mt-4 h-100">
        <h1 class="text-center">Les créations</h1>
        <a href="{{ path('admin.creations.create') }}" class="btn btn-info mb-2 shadow">
            Ajouter une création
        </a>
        {% include 'admin/creation/partials/_search.html.twig' with {'url':'admin.creations.index'} %}
        <div class="">
            <table class="table align-middle">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(creations,'Nom','c.name') }}</th>
                    <th>Photo</th>
                    <th class="d-none d-md-block">Catégorie</th>
                    <th>{{ knp_pagination_sortable(creations,'Vendu','c.sold') }}</th>
                    <th class="d-none d-md-block">Prix</th>
                    <th style="width: 100px">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for creation in creations %}
                    <tr id="row-creation-{{ creation.id }}">
                        <td>{{ creation.name }}</td>
                        <td class="text-center"><img src="{{ vich_uploader_asset(creation, 'thumbnailFile') }}"
                                                     height="24" alt=""></td>
                        <td class="d-none d-md-block">{{ creation.category.name }}</td>
                        <td class="text-center">
                            <a href="{{ path('admin.creations.toggleSold', {id:creation.id}) }}"
                               class="text-decoration-none text-reset">
                                {% if creation.sold %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-check-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                    </svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                    </svg>
                                {% endif %}
                            </a>
                        </td>
                        <td class="d-none d-md-block">{{ (creation.price/100) | format_currency('EUR', {rounding_mode: 'floor'}) }}</td>
                        <td class="">
                            <div class="d-flex gap-1 justify-content-around">

                                <a href="{{ path('admin.creations.edit',{id: creation.id}) }}"
                                   class="text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="primary"
                                         fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                    </svg>
                                </a>
                                <form action="{{ path('admin.creations.delete', {id: creation.id}) }}" method="post"
                                      onsubmit="return confirm('Etes vous sur de vouloir supprimer la création {{ creation.name }} ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="border-0 bg-white p-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="#FBA7B4"
                                             fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mt-3 d-flex justify-content-center justify-content-md-end">
            {{ knp_pagination_render(creations) }}
        </div>
    </section>
{% endblock %}
